{
    "api.version": "v1",
    "sources": [
        <% unless @app_name.empty? -%>
        {
            "name": "<%= @app_name %>-nginxlogs",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": false,
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "<%= @source_category %>",
            "pathExpression": "/var/log/nginx/*.log"
        },
        {
            "name": "<%= @app_name %>-ruby",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": true,
            "manualPrefixRegexp": "^Processing.*",
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "<%= @source_category %>",
            "pathExpression": "/srv/www/<%= @app_name %>/shared/log/<%= @app_stage %>.log"
        },
        <% end -%>
        {
            "name": "Syslog File",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": false,
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "<%= @source_category %>",
            "pathExpression": "/var/log/syslog"
        },
        {
            "name": "Secure",
            "sourceType": "LocalFile",
            "automaticDateParsing": true,
            "multilineProcessingEnabled": false,
            "useAutolineMatching": true,
            "forceTimeZone": false,
            "timeZone": "UTC",
            "category": "<%= @source_category %>",
            "pathExpression": "/var/log/auth.log"
        }
    ]
}
